@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  --background: #ffffff;
  --foreground: #222222;
  --card: #ffffff;
  --card-foreground: #222222;
  --popover: #f8f8f8;
  --popover-foreground: #222222;
  --primary: #030213;
  --primary-foreground: #f8f8f8;
  --secondary: #e0e0ff;
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: rgba(0, 0, 0, 0.1);
  --input: transparent;
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: #cccccc;
  --chart-1: #ffb347;
  --chart-2: #47b2ff;
  --chart-3: #47ffb2;
  --chart-4: #b247ff;
  --chart-5: #ff47b2;
  --radius: 0.625rem;
  --sidebar: #f8f8f8;
  --sidebar-foreground: #222222;
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: #f8f8f8;
  --sidebar-accent: #e0e0ff;
  --sidebar-accent-foreground: #222222;
  --sidebar-border: #cccccc;
  --sidebar-ring: #cccccc;
  
}

.dark {
  --background: #222222;
  --foreground: #f8f8f8;
  --card: #222222;
  --card-foreground: #f8f8f8;
  --popover: #222222;
  --popover-foreground: #f8f8f8;
  --primary: #f8f8f8;
  --primary-foreground: #222222;
  --secondary: #444444;
  --secondary-foreground: #f8f8f8;
  --muted: #444444;
  --muted-foreground: #cccccc;
  --accent: #444444;
  --accent-foreground: #f8f8f8;
  --destructive: #d4183d;
  --destructive-foreground: #ffb3b3;
  --border: #444444;
  --input: #444444;
  --ring: #888888;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: #b347ff;
  --chart-2: #47b2ff;
  --chart-3: #ffb347;
  --chart-4: #47ffb2;
  --chart-5: #ff47b2;
  --sidebar: #222222;
  --sidebar-foreground: #f8f8f8;
  --sidebar-primary: #b347ff;
  --sidebar-primary-foreground: #f8f8f8;
  --sidebar-accent: #444444;
  --sidebar-accent-foreground: #f8f8f8;
  --sidebar-border: #444444;
  --sidebar-ring: #888888;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-switch-background: var(--switch-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
    h1 {
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h3 {
      font-size: var(--text-lg);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h4 {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    p {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }

    label {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    button {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    input {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }
  }
}

html {
  font-size: var(--font-size);
}

/* Global font classes */
.font-tilt-neon {
  font-family: "Tilt Neon", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

/* Global utility classes */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
