.nav {
  height: 64px;
  color: var(--secondary-light);
}

.list-nav .active {
  border-bottom: 2px solid var(--secondary-dark);
}
.activeMobile {
  color: var(--secondary);
}

.nav ul li a {
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.nav div .btn-nav {
  color: var(--primary);
  width: 112px;
  height: 34px;
  padding: 8px 14px;
  border-radius: 9999px;
  border: 1px solid #2c313a;
  background: var(--accent);
}
.nav div .btn-nav:hover {
  background-color: var(--secondary);
}
.nav div button h5 {
  color: var(--primary);
  font-weight: 600;
}
